.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.note_wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}
.note{
  background-color: #a044e6;
  width: 45%;
  text-align: center;
  margin: 4px 0;
  padding-left: 2px;
  cursor: pointer;
}
.note.completed{
  background-color: #e7e482;
  text-decoration: line-through;
}